APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:SZu/uF5UmU9nyfGW5yyF2YlFGwfG0/Py2jScyZvyoHU=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ollsell
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


ALIEXPRESS_CLIENT_ID=501734
ALIEXPRESS_CLIENT_SECRET=HsmFBoviaQ4BKCQMagW7RkQpni4k9kHP
ALIEXPRESS_REDIRECT_URI=http://dashboard.dev.olldrop.com/aliexpress

SALLA_OAUTH_CLIENT_ID=b87bd03c-dc4d-4ba9-809f-2f10f161384d
SALLA_OAUTH_CLIENT_SECRET=bf4ca31cdc1fb7cf7b7cb7cb2d76695d
SALLA_OAUTH_CLIENT_REDIRECT_URI=https://localhost:3333/dashboard/store

OLLOPS_BASE_URL=http://localhost:3000
OLLOPS_APP_ID=6646b0a63ad94163e6c0e94e
VITE_OLLOPS_BASE_FRONT_URL=https://beta-app.ollops.com
OLLOPS_ENV=dev #dev or live
OLLOPS_API_KEY_DEV="da483355dd11107435e95f58f194f1c859d2c71ee1bd26171438ac44d2bbf071d27f65c2907d7629f22034306d2d2777"
OLLOPS_API_KEY_LIVE="394c5c77bce0879a6f64ec64160fb4ff2dacbee5de728e88318a6139af01e0ed97aae5be67b403bef3ef437b320c8956"

