/node_modules
/public/hot
/public/storage
/public/images
/public/missings
/public/uploads
/storage/*.key
/storage/framework/*
/storage/logs/*
/storage/debugger/*
storage/emailssendfail.json
/bootstrap/cache/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
package-lock.jsongi
bootstrap/cache/services.php
bootstrap/cache/packages.php
.history/
.lh/
/config/app.php
.scribe
.cache/
.cache/*
.selected_editor
public/temp/
.Xauthority
